* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Fuente*/
@font-face {
  font-family: chinese-rocks-free-regular;
  src: url(../fuentes/ChineseRocksFreeRegular.ttf); }

.ContenedorGaleria, .ContenedorImagenes, .MainServicios {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center; }

.ContenedorGaleria .Beanies h2, .ContenedorGaleria .Beanies h3, .ContenedorImagenes .Parche h2, .ContenedorImagenes .Parche h3, .MainServicios .Card h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif; }

.ContenedorGaleria .Beanies, .ContenedorImagenes .Parche, .MainServicios .Card {
  border: 3px solid #ffffff;
  margin: 2rem;
  border-radius: 0.5rem; }

/*General*/
body {
  background-image: url(../imgs/fondofondo.jpg); }

h1 {
  text-align: center;
  font-family: url(../fuentes/ChineseRocksFreeRegular.ttf);
  font-weight: bolder;
  color: #ffffff;
  margin: 2rem; }

h3 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
  margin: 1rem 0rem;
  font-weight: lighter; }

h4 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
  margin: 1rem 0rem;
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff; }

p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
  margin: 1rem 3rem;
  color: #ffffff;
  font-size: 1.5rem; }

/*Index*/
.MainIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .MainIndex .PortadaIndex {
    grid-column: 1/3; }
    .MainIndex .PortadaIndex img {
      width: 100%; }
  .MainIndex .TextoNosotrosIndex {
    grid-column: 1/3; }
  .MainIndex h1 {
    text-align: center;
    font-family: url(../fuentes/ChineseRocksFreeRegular.ttf);
    font-weight: bolder;
    color: #ffffff;
    margin: 2rem; }

.DescripcionNosotrosIndex {
  grid-column: 1/3; }

@media screen and (min-width: 768px) {
  .MainIndex {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .MainIndex .PortadaIndex {
      grid-column: 1/3; }
      .MainIndex .PortadaIndex img {
        width: 100%; }
    .MainIndex .TextoNosotrosIndex {
      grid-column: 1/2; }
      .MainIndex .TextoNosotrosIndex h1 {
        text-align: center;
        font-family: url(../fuentes/ChineseRocksFreeRegular.ttf);
        font-weight: 3rem 4rem 0rem 4rem;
        color: #ffffff;
        font-size: 3rem; }
    .MainIndex .DescripcionNosotrosIndex {
      grid-column: 2/3; }
      .MainIndex .DescripcionNosotrosIndex p {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: regular;
        margin: 2rem 3rem 2rem 0rem;
        color: #ffffff; } }

/*Novedades*/
.MainNovedades {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .MainNovedades .PortadaNovedades {
    grid-column: 1/4; }
    .MainNovedades .PortadaNovedades img {
      width: 100vw; }
  .MainNovedades .ParrafoNovedades {
    grid-column: 1/4;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: regular;
    margin: 0rem;
    justify-content: center; }

.Novedades1 {
  grid-column: 1/4; }
  .Novedades1 img {
    width: 70%;
    margin: 1rem 5rem;
    border-radius: 0.5rem; }

.Novedades2 {
  grid-column: 1/4; }
  .Novedades2 img {
    width: 70%;
    margin: 1rem 5rem;
    border-radius: 0.5rem; }

.Novedades3 {
  grid-column: 1/4; }
  .Novedades3 img {
    width: 70%;
    margin: 1rem 5rem;
    border-radius: 0.5rem; }

@media screen and (min-width: 768px) {
  .MainNovedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .MainNovedades .PortadaNovedades {
      grid-column: 1/4; }
      .MainNovedades .PortadaNovedades img {
        width: 100%; }
    .MainNovedades .ParrafoNovedades {
      grid-column: 1/4; }
    .MainNovedades .Novedades1 {
      grid-column: 1/2; }
      .MainNovedades .Novedades1 img {
        width: 90%;
        margin: 1rem; }
    .MainNovedades .Novedades2 {
      grid-column: 2/3; }
      .MainNovedades .Novedades2 img {
        width: 90%;
        margin: 1rem; }
    .MainNovedades .Novedades3 {
      grid-column: 3/4; }
      .MainNovedades .Novedades3 img {
        width: 90%;
        margin: 1rem; } }

/* Beanies*/
.ContenedorGaleria {
  margin: 0rem 3rem;
  text-align: center; }
  .ContenedorGaleria .Beanies {
    height: 34rem;
    width: 27rem;
    text-align: center; }
    .ContenedorGaleria .Beanies img {
      width: 100%;
      height: auto; }
    .ContenedorGaleria .Beanies h2 {
      color: #ffffff;
      margin: 1rem; }
    .ContenedorGaleria .Beanies h3 {
      color: #7b3bf3; }

/* Parches*/
.ContenedorImagenes {
  margin: 0rem 3rem;
  text-align: center; }
  .ContenedorImagenes .Parche {
    height: 34rem;
    width: 27rem;
    text-align: center; }
    .ContenedorImagenes .Parche img {
      width: 100%;
      height: auto; }
    .ContenedorImagenes .Parche h2 {
      color: #ffffff;
      margin: 1rem; }
    .ContenedorImagenes .Parche h3 {
      color: #7b3bf3; }

/* Servicios*/
.MainServicios {
  flex-wrap: wrap;
  row-gap: 2rem;
  text-decoration: none; }
  .MainServicios .Card {
    width: 20rem;
    height: 34rem; }
    .MainServicios .Card h2 {
      color: #ffffff;
      margin: 1rem;
      height: 7rem;
      text-align: center; }
    .MainServicios .Card img {
      width: 100%;
      margin-bottom: 2rem; }
    .MainServicios .Card aside {
      text-align: center;
      margin: 0rem 1rem 2rem 1rem;
      color: #ffffff; }
    .MainServicios .Card .BotonServicios {
      display: flex;
      justify-content: center;
      padding: 1rem;
      background-color: #ffffff;
      text-decoration: none;
      width: 20rem;
      border-radius: 0.5rem; }
    .MainServicios .Card .BotonServicios:hover {
      color: #7b3bf3; }

/*Contacto*/
.Portada img {
  width: 100%; }

.BotonServicios {
  justify-content: center; }

.Card:hover {
  background-color: #7b3bf3;
  transform: scale(1.05); }

.Parche:hover {
  transform: scale(1.05); }

.Beanies:hover {
  transform: scale(1.05); }

.BotonFlotante {
  margin: 5rem 0rem 0rem 5rem; }

.BotonHome {
  color: #7b3bf3;
  text-decoration: none;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .BotonHome {
      color: #7b3bf3;
      text-decoration: none;
      margin-left: 2rem; } }
