* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Fuente*/
@font-face {
  font-family: chinese-rocks-free-regular;
  src: url(../fuentes/ChineseRocksFreeRegular.ttf); }

.ContenedorGaleria, .ContenedorGaleria .ContenedorImagenes {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center; }

.ContenedorGaleria div h2, .ContenedorGaleria div h3, .ContenedorGaleria .ContenedorImagenes .card h2, .ContenedorGaleria .ContenedorImagenes .card h3 {
  text-align: center;
  font-family: 'Nunito', sans-serif; }

/*General*/
body {
  background-image: url(../imgs/fondofondo.jpg); }

h1 {
  text-align: center;
  font-fa: url(../fuentes/ChineseRocksFreeRegular.ttf);
  font-weight: bolder;
  color: #ffffff;
  margin: 2rem; }

p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
  margin: 1rem 3rem;
  color: #ffffff; }

/*Index*/
.MainIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .MainIndex .PortadaIndex {
    grid-column: 1/3; }
    .MainIndex .PortadaIndex img {
      width: 100%; }
  .MainIndex .TextoNosotrosIndex {
    grid-column: 1/3; }
  .MainIndex h1 {
    text-align: center;
    font-family: url(../fuentes/ChineseRocksFreeRegular.ttf);
    font-weight: bolder;
    color: #ffffff;
    margin: 2rem; }

.DescripcionNosotrosIndex {
  grid-column: 1/3; }

@media screen and (min-width: 768px) {
  .MainIndex {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .MainIndex .PortadaIndex {
      grid-column: 1/3; }
      .MainIndex .PortadaIndex img {
        width: 100%; }
    .MainIndex .TextoNosotrosIndex {
      grid-column: 1/2; }
      .MainIndex .TextoNosotrosIndex h1 {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: regular;
        margin: 3rem 4rem 0rem 4rem; }
    .MainIndex .DescripcionNosotrosIndex {
      grid-column: 2/3; }
      .MainIndex .DescripcionNosotrosIndex p {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: regular;
        margin: 2rem 3rem;
        color: #ffffff; } }

/*Novedades*/
/* Beanies*/
.ContenedorGaleria {
  width: 100%;
  min-height: 100vh; }
  .ContenedorGaleria div img {
    width: 100%;
    height: auto;
    border-radius: 1rem; }
  .ContenedorGaleria div h2 {
    color: #ffffff;
    margin: 1rem; }
  .ContenedorGaleria div h3 {
    color: #7b3bf3; }

/* Parches*/
.ContenedorGaleria {
  width: 100%;
  min-height: 100vh; }
  .ContenedorGaleria .ContenedorImagenes {
    text-align: center; }
    .ContenedorGaleria .ContenedorImagenes .card {
      flex: 1;
      margin: 20px 20px; }
      .ContenedorGaleria .ContenedorImagenes .card img {
        width: 100%;
        height: auto;
        border-radius: 1rem; }
      .ContenedorGaleria .ContenedorImagenes .card h2 {
        color: #ffffff;
        margin: 1rem; }
      .ContenedorGaleria .ContenedorImagenes .card h3 {
        color: #7b3bf3; }

/* Servicios*/
.MainServicios {
  display: flex; }
  .MainServicios .Card {
    background-color: aqua;
    border: 3px solid #ffffff; }
    .MainServicios .Card img {
      width: 30%; }
