// reset //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fuente*/
@font-face {
    font-family: chinese-rocks-free-regular;
    src: url(../fuentes/ChineseRocksFreeRegular.ttf);}

// Import//
@import "Utilities/variables";
@import "Utilities/mixin";
@import "Utilities/extend";
@import "Utilities/mapas";


/*General*/
body{
    background-image: url(../imgs/fondofondo.jpg)
}

p{
    @include Texto (2.5rem 4rem);
    color: $ColorSecundario 
}
h1{
    @include Texto (2rem 4rem 2rem 4rem);
    color: $ColorTerciario;
    font-size: 3rem ;
    font-weight: bolder
}
h4{
    color: $ColorSecundario;
    font-size: 0.5rem;
    font-weight: 100
}

.BotonHome{
    color: $ColorSecundario;
    font-size: 1rem;
    font-weight: 100
}

/*Index*/
.MainIndex{
    @include Grid (2,1fr);
    
        .PortadaIndex{
            grid-column: 1/3{
            }
            img {width: 100%;}
        }
        .TextoNosotrosIndex{
            grid-column: 1/3;
            h1{
            @include Texto (3rem 4rem 0rem 4rem);
            color: $ColorSecundario ;
            font-size: 3rem ;
            font-weight: bolder
            }
        }
        }
        .DescripcionNosotrosIndex{
            grid-column: 1/3;
}

 @include Media (md){
 .MainIndex{
    @include Grid (2,1fr);
    .PortadaIndex{
        grid-column: 1/3{
        }
        img {width: 100%;}
    }
    .TextoNosotrosIndex{
        grid-column: 1/2
    }
    .DescripcionNosotrosIndex{
        grid-column: 2/3
    }
    
 }
  
}

/*Novedades*/


/* Beanies*/
.ContenedorGaleria{
    @extend %DisplayFlex;
    width: 100% ;
    min-height: 100vh ;
    div{
        img{
            @include ImagenGaleria (100%, auto)
        }
        h2{
            @extend %Texto;
            color: $ColorSecundario;
            margin: 1rem;
        }
        h3{
            @extend %Texto;
            color: $ColorTerciario;
        }
    }
          
        }

/* Parches*/
.ContenedorGaleria{
    @extend %DisplayFlex;
    width: 100% ;
    min-height: 100vh ;
    .ContenedorImagenes{
        @extend %DisplayFlex;
        text-align: center;
        .card{
            flex: 1;
            margin: 20px 20px;
            img{
                @include ImagenGaleria (100%, auto)
            }
            h2{
                @extend %Texto;
                color: $ColorSecundario;
                margin: 1rem;
            }
            h3{
                @extend %Texto;
                color: $ColorTerciario;
            }
        }
    }
}   

/* Servicios*/
.MainServicios{
    display: flex;
    .Card{
        background-color: aqua;
        border: 3px solid $ColorSecundario;
        img{
            width:30%;
        }
    }
}