// reset //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fuente*/
@font-face {
    font-family: chinese-rocks-free-regular;
    src: url(../fuentes/ChineseRocksFreeRegular.ttf);}

// Import//
@import "Utilities/variables";
@import "Utilities/mixin";
@import "Utilities/extend";
@import "Utilities/mapas";


/*General*/
body{
    background-image: url(../imgs/fondofondo.jpg)
    
}

/*Index*/
.MainIndex

/* Beanies*/
.ContenedorGaleria{
    @extend %DisplayFlex;
    width: 100% ;
    min-height: 100vh ;
    div{
        img{
            @include ImagenGaleria (100%, auto)
        }
        h2{
            @extend %Texto;
            color: $ColorSecundario;
            margin: 1rem;
        }
        h3{
            @extend %Texto;
            color: $ColorTerciario;
        }
    }
          
        }

/* Parches*/
.ContenedorGaleria{
    @extend %DisplayFlex;
    width: 100% ;
    min-height: 100vh ;
    .ContenedorImagenes{
        @extend %DisplayFlex;
        text-align: center;
        .card{
            flex: 1;
            margin: 20px 20px;
            img{
                @include ImagenGaleria (100%, auto)
            }
            h2{
                @extend %Texto;
                color: $ColorSecundario;
                margin: 1rem;
            }
            h3{
                @extend %Texto;
                color: $ColorTerciario;
            }
        }
    }
}   

