%DisplayFlex{
    display: flex ;
    height: auto;
    width: 100%;
    justify-content: center ;
    align-items: center ;
} 


%Texto{
    text-align: center;
    font-family:'Nunito', sans-serif;
}


%Card{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    
}