%DisplayFlex{
    display: flex ;
    flex-wrap: wrap;
    height: auto;
    justify-content: center ;
    align-items: center ;
} 


%Texto{
    text-align: center;
    font-family:'Nunito', sans-serif;
}


%Card{
    border: 3px solid $ColorSecundario;
    margin: 2rem;
    border-radius: 0.5rem;
    
}