%Contenedor-imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border-radius: 1rem;

}; 

%imagenes-galerias{
    width: 3rem;
    height: 3rem;
};