
@mixin ImagenGaleria ($width,$height) {
    width: $width;
    height: $height;
    border-radius: 1rem;
}
//  Texto//

@mixin Titulos ($font-weight){
    text-align: center;
    font-family: url(../fuentes/ChineseRocksFreeRegular.ttf);
    font-weight: $font-weight;
    color: $ColorSecundario;
};


@mixin Texto ($rem){
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-weight: regular;
    margin: ($rem);
    
}

@mixin Grid ($columns,$espacio){
    display: grid;
    grid-template-columns: repeat($columns,1fr);
}