$color-principal: #000000;
$Color-secundario: #7b3bf3;


@mixin grid {
display: grid;  
};

@mixin Imagen {
    border-radius: 0.5rem;
    width: $width ;
    height: $heigth;
};

@mixin Parrafo {
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-weight: regular;
    margin: 1rem, 4rem, 1rem, 4rem;
    
}

%cajainferior{
    border-radius: 0,0, 1rem, 1rem;
    background-color: $color-secundario;
    text-align: center;
}

